*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    margin: 0;
    line-height: normal;
}

.burger-1-icon {
    position: absolute;
    top: calc(50% - 187px);
    left: calc(50% - 158px);
    width: 315px;
    height: 288px;
    object-fit: cover;
}
.hamburger-receipe {
    position: absolute;
    top: calc(50% + 116px);
    left: calc(50% - 115px);
    letter-spacing: 0.05em;
    text-transform: uppercase;
}
.div {
    position: absolute;
    top: calc(50% - 9px);
    left: calc(50% - 4px);
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.frame-icon {
    position: absolute;
    top: 33px;
    left: 374px;
    width: 24px;
    height: 24px;
    overflow: hidden;
    color: #fff;
}

.frame-icon1 {
    position: absolute;
    top: 33px;
    left: 102px;
    width: 24px;
    height: 24px;
    overflow: hidden;
}

.footer {
    position: absolute;
    width: 100%;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: #544d46;
    height: 90px;
    overflow: hidden;
    font-size: 16px;
}

.leftsection {
    position: absolute;
    top: calc(50% - 323px);
    left: calc(50% - 554px);
    background-color: #655d55;
    box-shadow: 0px 17px 22px rgba(0, 0, 0, 0.08);
    width: 534px;
    height: 646px;
}
    
.ingredients {
    position: absolute;
    top: calc(50% - 325px);
    left: calc(50% - 240px);
    font-size: 32px;
    letter-spacing: 0.11em;
    text-transform: uppercase;
}

.number {
    position: relative;
    text-transform: capitalize;
    font-weight: 500;
}

.body-text {
    position: relative;
    text-transform: capitalize;
    font-weight: 500;
    text-align: right;
}

.text1 {
    width: 480px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.text {
    position: absolute;
    top: 174px;
    left: 60px;
    height: 466px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.rightsection-child {
    position: absolute;
    top: 133.5px;
    left: 59.5px;
    border-top: 1px solid #d7d7d7;
    box-sizing: border-box;
    width: 481px;
    height: 1px;
}

.frame-icon2 {
    position: relative;
    width: 24px;
    height: 24px;
    overflow: hidden;
    flex-shrink: 0;
    color: #2d2d2d; 
}

.directions {
    position: relative;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-weight: 500;
}

.frame-parent {
    position: absolute;
    top: calc(50% - 12px);
    left: calc(50% - 85px);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
}

.footer1 {
    position: absolute;
    width: 100%;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: #d3c8bc;
    height: 90px;
    overflow: hidden;
}

.rightsection {
    position: absolute;
    top: calc(50% - 385px);
    left: calc(50% - 46px);
    background-color: #fff;
    box-shadow: 0px 17px 22px rgba(0, 0, 0, 0.08);
    width: 600px;
    height: 770px;
    color: #2d2d2d;
}

.desktop-1 {
    position: relative;
    background-color: #ffe9c1;
    width: 100%;
    height: 1024px;
    overflow: hidden;
    text-align: left;
    font-size: 20px;
    color: #fff;
    font-family: Inter;
}

